html {
	background: url(http://mgou.ru/images/fon.png);}

body {
	background: #FFF;
	margin-top:3%;
	margin-left:auto;
	margin-right:auto;
	padding: 0;
	color: #000;
width:1000px;
  -webkit-box-shadow: 0 0 15px rgba(0,0,0,0.6); /* Для Safari 3.0 */
    -moz-box-shadow: 0 0 15px rgba(0,0,0,0.6); /* Для Firefox 3.5 */
    box-shadow: 0 0 15px rgba(0,0,0,0.6); /* Для современных браузеров */
    padding: 10px; /* Поля вокруг текста */
    -webkit-border-radius: 10px; /* Радиус скругления для Safari 3.1 */
    -moz-border-radius: 10px; /* Для Firefox 3 */
    border-radius: 10px; /* Радиус скругления для современных браузеров */
   box-shadow: 0 0 15px;
   }

ul, ol, dl { 
	padding: 0;
	margin: 0;
}
h1, h2, h3, h4, h5, h6, p {
	margin-top: 0;	 
	padding-right: 15px;
	padding-left: 15px;
	margin-bottom: 0;
	
}
a img { 
	border: none;
}


a:link {
	color:#7b390a;
	text-decoration:none;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;}
a:visited {
	color: #7b390a;
	text-decoration: none;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
}
a:hover, a:active, a:focus { 
	text-decoration: underline;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
}

.container {
	width: 80%;
	max-width: 1260px;
	min-width: 780px;/
	background: #FFF;
	margin: 0 auto;
}

.content {
	padding: 10px 0;
}

.content ul, .content ol { 
	padding: 0 15px 15px 40px; 
}

.fltrt {  	float: right;
	margin-left: 8px;
}
.fltlft { /* этот класс можно использовать для обтекания элемента слева на странице. Обтекаемый элемент должен предшествовать элементу, с которым он должен находиться рядом на странице. */
	float: left;
	margin-right: 8px;
}
.clearfloat { /* этот класс можно поместить в теге <br /> или в пустом блоке DIV в качестве конечного элемента, следующего за последним обтекаемым DIV (внутри #container), если overflow:hidden удалено в .container */
	clear:both;
	height:0;
	font-size: 1px;
	line-height: 0px;
}
h3 {
	font-family:   Georgia, "Times New Roman", Times, serif;
	font-size:21px; font-style:italic;}
h4 {
	font-family:Arial, Helvetica, sans-serif;
	}
.td_blue {border-style: solid; border-width: 4px 0px 0px 0px;border-color:#1163b9;
	}
.td_white {border-style: solid; border-width: 5px 0px 0px 5px; border-color:white;}
.td_white2 {border-style: solid; border-width: 5px 0px 0px 0px; border-color:white;}

#font2 { font-family: Arial, Helvetica, sans-serif; color:#303188; font-weight:bold; font-size:20px;
	}

#font2_1 { font-family: Arial, Helvetica, sans-serif; color:#303188; font-weight:bold; font-size:18px;
	}
#font3 { font-family:  Arial, Helvetica, sans-serif; color: #FFF; font-weight:bold; font-size:20px;
	}
#font3_1 { font-family: Arial, Helvetica, sans-serif; color:#000; font-weight:bold; font-size:18px;}



#homePage
{
	position: fixed;
	width: 50px;
    height: 50px;
    background-color: #9cacb9;
    border-radius: 25px;
    left: 33px;
}

#homePage img
{
    position: absolute;
    left: 14px;
    top: 11px;
}

#topPage
{
	position: fixed;
    bottom: 40px;
    right: 60px;
    background-color: #9cacb9;
    width: 50px;
    height: 50px;
    border-radius: 25px;
}

#topPage img
{
	position: absolute;
    top: 11px;
    left: 8px;
}

#backPage
{
	position: fixed;
    left: 33px;
    bottom: 40px;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background-color: #9cacb9;
}

#backPage img
{
    position: absolute;
    left: 11px;
    top: 8px;
}